html {
  height: 100%; }

body {
  background: white;
  background-image: -webkit-gradient(radial, 50% 0%, 0, 50% 0%, 113, color-stop(0%, white), color-stop(100%, #f4f4f4));
  background-image: -webkit-radial-gradient(center top, closest-corner circle, white 0%, #f4f4f4 100%);
  background-image: -moz-radial-gradient(center top, closest-corner circle, white 0%, #f4f4f4 100%);
  background-image: -ms-radial-gradient(center top, closest-corner circle, white 0%, #f4f4f4 100%);
  background-image: -o-radial-gradient(center top, closest-corner circle, white 0%, #f4f4f4 100%);
  background-image: radial-gradient(closest-corner circle at center top, white 0%, #f4f4f4 100%);
  background-position: top center;
  background-repeat: no-repeat;
  height: 100%; }

.guest header .logo {
  background: url(images/logo.png) no-repeat 0 0;
  width: 310px;
  height: 50px;
  text-indent: -1000px;
  overflow: hidden;
  margin-top: 20%; }

footer {
  color: #cacaca;
  text-align: center;
  margin-top: 20px; }

.guest .container {
  max-width: 310px; }
  .guest .container #content {
    margin-top: 30px; }

.login_form .input-group {
  margin: 10px 0; }

.big_button {
  position: relative; }
  .big_button .glyphicon {
    position: absolute;
    left: 20px;
    top: 9px;
    color: #FFF;
    font-size: 20px; }
  .big_button .btn {
    text-align: left;
    text-indent: 50px; }

.opc_box {
  padding: 10px;
  border: 1px solid #ECECEC;
  border-width: 1px 0;
  margin-top: 30px; }

/**
 * Projects
 **/
.projects-list h3 {
  float: left;
  margin: 0 0 10px 0; }
.projects-list br {
  clear: both; }

.file-input-wrapper {
  color: #333;
  background-color: #FFF;
  border-color: #CCC; }
  .file-input-wrapper:hover {
    color: #333;
    background-color: #EBEBEB;
    border-color: #ADADAD; }

.approve-block label, .approve-block .checkbox, .approve-block .submit {
  float: left; }
.approve-block .checkbox {
  margin: 0 10px; }
.approve-block .submit {
  margin: -8px 0 0 0; }

/**
 * Errors
**/
body.error {
  background: #0080c7;
  background-image: -webkit-gradient(radial, 50% 0%, 0, 50% 0%, 113, color-stop(0%, #0080c7), color-stop(100%, #0068a0));
  background-image: -webkit-radial-gradient(center top, closest-corner circle, #0080c7 0%, #0068a0 100%);
  background-image: -moz-radial-gradient(center top, closest-corner circle, #0080c7 0%, #0068a0 100%);
  background-image: -ms-radial-gradient(center top, closest-corner circle, #0080c7 0%, #0068a0 100%);
  background-image: -o-radial-gradient(center top, closest-corner circle, #0080c7 0%, #0068a0 100%);
  background-image: radial-gradient(closest-corner circle at center top, #0080c7 0%, #0068a0 100%);
  background-position: top center;
  background-repeat: no-repeat;
  height: 100%;
  text-align: center;
  color: #fff; }
  body.error .jumbotron {
    background: rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.28);
    box-shadow: 0 0 1px #FFF; }
