@mixin gradient-background($color1, $color2) {
    background: $color1;
    background-image: -webkit-gradient(radial, 50% 0%, 0, 50% 0%, 113, color-stop(0%, $color1), color-stop(100%,  $color2));
    background-image: -webkit-radial-gradient(center top, closest-corner circle, $color1 0%, $color2 100%);
    background-image: -moz-radial-gradient(center top, closest-corner circle, $color1 0%, $color2 100%);
    background-image: -ms-radial-gradient(center top, closest-corner circle, $color1 0%, $color2 100%);
    background-image: -o-radial-gradient(center top, closest-corner circle, $color1 0%, $color2 100%);
    background-image: radial-gradient(closest-corner circle at center top, $color1 0%, $color2 100%);
    background-position: top center;
    background-repeat: no-repeat;
}
html {
    height: 100%;
}
body {
    @include gradient-background(#ffffff, #f4f4f4);
    height: 100%;
}


.guest header {
    .logo {
        background: url(images/logo.png) no-repeat 0 0;
        width: 310px; height: 50px;
        text-indent: -1000px; overflow: hidden;
        margin-top: 20%;
    }
}

footer {
    color: #cacaca;
    text-align: center;
    margin-top: 20px;
}
.guest .container {
    max-width: 310px;
    #content {
        margin-top: 30px;
    }
}
.login_form {
    .input-group {
        margin: 10px 0;
    }
}
.big_button {
    position: relative;
    .glyphicon {
        position: absolute;
        left: 20px;
        top: 9px;
        color: #FFF;
        font-size: 20px;
    }
    .btn {
        text-align: left;
        text-indent: 50px;
    }
}
.opc_box {
    padding: 10px;
    border: 1px solid #ECECEC;
    border-width: 1px 0;
    margin-top: 30px;
}
/**
 * Projects
 **/
.projects-list {
    h3 {
        float: left;
        margin: 0 0 10px 0;
    }
    br {
        clear: both;
    }
}
/**
 * Errors
**/

body.error {
    @include gradient-background(#0080C7, #0068a0);
    height: 100%;
    text-align: center;
    color: #fff;
    .jumbotron {
        background: rgba(0, 0, 0, 0.3);
        border-bottom: 1px solid rgba(0, 0, 0, 0.28);
        box-shadow: 0 0 1px #FFF;
    }
}